<app-navbar></app-navbar>
<div class="row cards_properties">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://picjunkie.files.wordpress.com/2010/03/sailor.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Card 1</p>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.8tracks.com/cover/i/009/420/659/tumblr_lqr9rgdFSg1qbiwbko1_1280-13.jpg?rect=211,0,858,858&q=98&fm=jpg&fit=max&w=640&h=640" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Card 2</p>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.8tracks.com/cover/i/009/453/203/weekly-inspiration-50s-glam--large-msg-137546388355-8743.jpg?rect=0,63,500,500&q=98&fm=jpg&fit=max" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Card 3</p>
            </div>
        </div>
    </div>

</div>